* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#secretWord {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#message {
    height: 30px;
    font-size: 16px;
}

#message:focus::placeholder {
    font-size: 14px;
}
